xml/src/main/java/xml/jaxb/xml.jaxb.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- 
 Schema for the Configuration options aka Preferences that 
 this user will want us to keep track of: username, color, etc.
 This file originally generated by JAXB schemagen from annotations.
 -->
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="config" type="configuration"/>

  <xs:complexType name="configuration">
    <xs:sequence>
      <!-- The user's name -->
      <xs:element name="screenName" type="xs:string" minOccurs="0"/>
      <!-- The user's web proxy (may be null) -->
      <xs:element name="webProxy" type="xs:string" minOccurs="0" nillable="true"/>
      <!-- Does this user like verbosity? -->
      <xs:element name="verbose" type="xs:boolean"/>
      <!-- User's fave color -->
      <xs:element name="colorName" type="xs:string" minOccurs="0" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

