src/main/java/xml/parents.xsd

<?xml version="1.0"?> 

<schema targetNamespace="parent_committee_documents"
	xmlns="http://www.w3.org/1999/XMLSchema"
	xmlns:pc="parent_committee_documents">

<element name="parent_committee" type="pc:CommitteeType"/>

<complexType name="CommitteeType">
	<element name="parent" maxOccurs="*">
	<complexType>
		<element name="parent" type="string">
			<attribute name="position" default="Member">
				<simpleType base="string">
					<enumeration value="President" />
					<enumeration value="Treasurer" />
					<enumeration value="Member" />
				</simpleType>
			</attribute>
		</element>
		<element name="children" type="integer"/>
	</complexType>
<complexType>

</schema>
