src/main/java/xml/jaxb/xml.jaxb.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element name="screenName" type="xs:string" minOccurs="0"/>
      <xs:element name="webProxy" type="xs:string" minOccurs="0"/>
      <xs:element name="verbose" type="xs:boolean"/>
      <xs:element name="colorName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

